<div class="container-fluid">

    <div class="row">
        <div class="col-xl-5">
            <div class="row">
                <div class="col-lg-6">
                    <div class="widget-flat card">
                        <div class="card-body">
                            <div class="float-right"><i class="fa fa-tasks widget-icon"></i></div>
                            <h5 class="font-weight-normal mt-0 text-muted" title="Number of Customers">Produção</h5>
                            <h3 class="mt-3 mb-3 text-muted">1.939 ciclos</h3>
                            <p class="mb-0 text-muted"><span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 5.27%</span><span class="text-nowrap">Dados da última semana</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="widget-flat card">
                        <div class="card-body">
                            <div class="float-right"><i class="fa fa-line-chart widget-icon"></i></div>
                            <h5 class="font-weight-normal mt-0 text-muted" title="Number of Orders">Eficiência</h5>
                            <h3 class="mt-3 mb-3 text-muted">80,6%</h3>
                            <p class="mb-0 text-muted"><span class="text-danger mr-2"><i class="fa fa-arrow-down"></i> 1.08%</span><span class="text-nowrap">Dados da última semana</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="widget-flat card">
                        <div class="card-body">
                            <div class="float-right"><i class="fa fa-wrench widget-icon"></i></div>
                            <h5 class="font-weight-normal mt-0 text-muted" title="Revenue">Manutenção</h5>
                            <h3 class="mt-3 mb-3 text-muted">312 ordens</h3>
                            <p class="mb-0 text-muted"><span class="text-danger mr-2"><i class="fa fa-arrow-down"></i> 7.00%</span><span class="text-nowrap">Dados do último semestre</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="widget-flat card">
                        <div class="card-body">
                            <div class="float-right"><i class="fa fa-bolt widget-icon"></i></div>
                            <h5 class="font-weight-normal mt-0 text-muted" title="Growth">Consumo</h5>
                            <h3 class="mt-3 mb-3 text-muted">3.200 kWh </h3>
                            <p class="mb-0 text-muted"><span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 4.87%</span><span class="text-nowrap">Dados da última semana</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-7">
            <div class="card">
                <div class="card-body" style="position: relative; height: 349px !important;">
                    <h4 class="header-title mb-3">Projetado x Executado</h4>
                    <div class="apex-charts" style="min-height: 260px;">
                        <div id="apexchartsem22viknf" class="apexcharts-canvas apexchartsem22viknf light" style="width: 863px; height: 260px;">
                            <svg id="SvgjsSvg1499" width="863" height="260" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: transparent;">
                                <g id="SvgjsG1501" class="apexcharts-inner apexcharts-graphical" transform="translate(50.8125, 30)">
                                    <defs id="SvgjsDefs1500">
                                        <linearGradient id="SvgjsLinearGradient1504" x1="0" y1="0" x2="0" y2="1">
                                            <stop id="SvgjsStop1505" stop-opacity="0.4" stop-color="rgba(216,227,240,0.4)" offset="0"></stop>
                                            <stop id="SvgjsStop1506" stop-opacity="0.5" stop-color="rgba(190,209,230,0.5)" offset="1"></stop>
                                            <stop id="SvgjsStop1507" stop-opacity="0.5" stop-color="rgba(190,209,230,0.5)" offset="1"></stop>
                                        </linearGradient>
                                        <clipPath id="gridRectMaskem22viknf">
                                            <rect id="SvgjsRect1509" width="814.1875" height="186.112" x="-1" y="-1" rx="0" ry="0" fill="#ffffff" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0"></rect>
                                        </clipPath>
                                        <clipPath id="gridRectMarkerMaskem22viknf">
                                            <rect id="SvgjsRect1510" width="852.1875" height="224.112" x="-20" y="-20" rx="0" ry="0" fill="#ffffff" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0"></rect>
                                        </clipPath>
                                    </defs>
                                    <rect id="SvgjsRect1508" width="13.536458333333336" height="184.112" x="0" y="0" rx="0" ry="0" fill="url(#SvgjsLinearGradient1504)" opacity="1" stroke-width="0" stroke-dasharray="3" class="apexcharts-xcrosshairs" y2="184.112" filter="none" fill-opacity="0.9"></rect>
                                    <g id="SvgjsG1541" class="apexcharts-xaxis" transform="translate(0, 0)">
                                        <g id="SvgjsG1542" class="apexcharts-xaxis-texts-g" transform="translate(0, -4)">
                                            <text id="SvgjsText1543" font-family="Helvetica, Arial, sans-serif" x="33.841145833333336" y="213.112" text-anchor="middle" dominant-baseline="auto" font-size="12px" fill="#373d3f" class="apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;">
                                                <tspan id="SvgjsTspan1544" style="font-family: Helvetica, Arial, sans-serif;">Jan</tspan>
                                                <title>Jan</title>
                                            </text>
                                            <text id="SvgjsText1545" font-family="Helvetica, Arial, sans-serif" x="101.5234375" y="213.112" text-anchor="middle" dominant-baseline="auto" font-size="12px" fill="#373d3f" class="apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;">
                                                <tspan id="SvgjsTspan1546" style="font-family: Helvetica, Arial, sans-serif;">Fev</tspan>
                                                <title>Fev</title>
                                            </text>
                                            <text id="SvgjsText1547" font-family="Helvetica, Arial, sans-serif" x="169.20572916666666" y="213.112" text-anchor="middle" dominant-baseline="auto" font-size="12px" fill="#373d3f" class="apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;">
                                                <tspan id="SvgjsTspan1548" style="font-family: Helvetica, Arial, sans-serif;">Mar</tspan>
                                                <title>Mar</title>
                                            </text>
                                            <text id="SvgjsText1549" font-family="Helvetica, Arial, sans-serif" x="236.88802083333334" y="213.112" text-anchor="middle" dominant-baseline="auto" font-size="12px" fill="#373d3f" class="apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;">
                                                <tspan id="SvgjsTspan1550" style="font-family: Helvetica, Arial, sans-serif;">Abr</tspan>
                                                <title>Abr</title>
                                            </text>
                                            <text id="SvgjsText1551" font-family="Helvetica, Arial, sans-serif" x="304.57031250000006" y="213.112" text-anchor="middle" dominant-baseline="auto" font-size="12px" fill="#373d3f" class="apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;">
                                                <tspan id="SvgjsTspan1552" style="font-family: Helvetica, Arial, sans-serif;">Mai</tspan>
                                                <title>Mai</title>
                                            </text>
                                            <text id="SvgjsText1553" font-family="Helvetica, Arial, sans-serif" x="372.25260416666674" y="213.112" text-anchor="middle" dominant-baseline="auto" font-size="12px" fill="#373d3f" class="apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;">
                                                <tspan id="SvgjsTspan1554" style="font-family: Helvetica, Arial, sans-serif;">Jun</tspan>
                                                <title>Jun</title>
                                            </text>
                                            <text id="SvgjsText1555" font-family="Helvetica, Arial, sans-serif" x="439.9348958333334" y="213.112" text-anchor="middle" dominant-baseline="auto" font-size="12px" fill="#373d3f" class="apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;">
                                                <tspan id="SvgjsTspan1556" style="font-family: Helvetica, Arial, sans-serif;">Jul</tspan>
                                                <title>Jul</title>
                                            </text>
                                            <text id="SvgjsText1557" font-family="Helvetica, Arial, sans-serif" x="507.61718750000006" y="213.112" text-anchor="middle" dominant-baseline="auto" font-size="12px" fill="#373d3f" class="apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;">
                                                <tspan id="SvgjsTspan1558" style="font-family: Helvetica, Arial, sans-serif;">Ago</tspan>
                                                <title>Ago</title>
                                            </text>
                                            <text id="SvgjsText1559" font-family="Helvetica, Arial, sans-serif" x="575.2994791666666" y="213.112" text-anchor="middle" dominant-baseline="auto" font-size="12px" fill="#373d3f" class="apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;">
                                                <tspan id="SvgjsTspan1560" style="font-family: Helvetica, Arial, sans-serif;">Set</tspan>
                                                <title>Set</title>
                                            </text>
                                            <text id="SvgjsText1561" font-family="Helvetica, Arial, sans-serif" x="642.9817708333333" y="213.112" text-anchor="middle" dominant-baseline="auto" font-size="12px" fill="#373d3f" class="apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;">
                                                <tspan id="SvgjsTspan1562" style="font-family: Helvetica, Arial, sans-serif;">Out</tspan>
                                                <title>Out</title>
                                            </text>
                                            <text id="SvgjsText1563" font-family="Helvetica, Arial, sans-serif" x="710.6640624999999" y="213.112" text-anchor="middle" dominant-baseline="auto" font-size="12px" fill="#373d3f" class="apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;">
                                                <tspan id="SvgjsTspan1564" style="font-family: Helvetica, Arial, sans-serif;">Nov</tspan>
                                                <title>Nov</title>
                                            </text>
                                            <text id="SvgjsText1565" font-family="Helvetica, Arial, sans-serif" x="778.3463541666665" y="213.112" text-anchor="middle" dominant-baseline="auto" font-size="12px" fill="#373d3f" class="apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;">
                                                <tspan id="SvgjsTspan1566" style="font-family: Helvetica, Arial, sans-serif;">Dez</tspan>
                                                <title>Dez</title>
                                            </text>
                                        </g>
                                    </g>
                                    <g id="SvgjsG1575" class="apexcharts-grid">
                                        <g id="SvgjsG1576" class="apexcharts-gridlines-horizontal">
                                            <line id="SvgjsLine1589" x1="0" y1="0" x2="812.1875" y2="0" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line>
                                            <line id="SvgjsLine1590" x1="0" y1="36.8224" x2="812.1875" y2="36.8224" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line>
                                            <line id="SvgjsLine1591" x1="0" y1="73.6448" x2="812.1875" y2="73.6448" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line>
                                            <line id="SvgjsLine1592" x1="0" y1="110.4672" x2="812.1875" y2="110.4672" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line>
                                            <line id="SvgjsLine1593" x1="0" y1="147.2896" x2="812.1875" y2="147.2896" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line>
                                            <line id="SvgjsLine1594" x1="0" y1="184.11200000000002" x2="812.1875" y2="184.11200000000002" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line>
                                        </g>
                                        <g id="SvgjsG1577" class="apexcharts-gridlines-vertical"></g>
                                        <line id="SvgjsLine1578" x1="67.68229166666667" y1="185.112" x2="67.68229166666667" y2="191.112" stroke="#78909c" stroke-dasharray="0" class="apexcharts-xaxis-tick"></line>
                                        <line id="SvgjsLine1579" x1="135.36458333333334" y1="185.112" x2="135.36458333333334" y2="191.112" stroke="#78909c" stroke-dasharray="0" class="apexcharts-xaxis-tick"></line>
                                        <line id="SvgjsLine1580" x1="203.046875" y1="185.112" x2="203.046875" y2="191.112" stroke="#78909c" stroke-dasharray="0" class="apexcharts-xaxis-tick"></line>
                                        <line id="SvgjsLine1581" x1="270.7291666666667" y1="185.112" x2="270.7291666666667" y2="191.112" stroke="#78909c" stroke-dasharray="0" class="apexcharts-xaxis-tick"></line>
                                        <line id="SvgjsLine1582" x1="338.41145833333337" y1="185.112" x2="338.41145833333337" y2="191.112" stroke="#78909c" stroke-dasharray="0" class="apexcharts-xaxis-tick"></line>
                                        <line id="SvgjsLine1583" x1="406.09375000000006" y1="185.112" x2="406.09375000000006" y2="191.112" stroke="#78909c" stroke-dasharray="0" class="apexcharts-xaxis-tick"></line>
                                        <line id="SvgjsLine1584" x1="473.77604166666674" y1="185.112" x2="473.77604166666674" y2="191.112" stroke="#78909c" stroke-dasharray="0" class="apexcharts-xaxis-tick"></line>
                                        <line id="SvgjsLine1585" x1="541.4583333333334" y1="185.112" x2="541.4583333333334" y2="191.112" stroke="#78909c" stroke-dasharray="0" class="apexcharts-xaxis-tick"></line>
                                        <line id="SvgjsLine1586" x1="609.140625" y1="185.112" x2="609.140625" y2="191.112" stroke="#78909c" stroke-dasharray="0" class="apexcharts-xaxis-tick"></line>
                                        <line id="SvgjsLine1587" x1="676.8229166666666" y1="185.112" x2="676.8229166666666" y2="191.112" stroke="#78909c" stroke-dasharray="0" class="apexcharts-xaxis-tick"></line>
                                        <line id="SvgjsLine1588" x1="744.5052083333333" y1="185.112" x2="744.5052083333333" y2="191.112" stroke="#78909c" stroke-dasharray="0" class="apexcharts-xaxis-tick"></line>
                                        <line id="SvgjsLine1596" x1="0" y1="184.112" x2="812.1875" y2="184.112" stroke="transparent" stroke-dasharray="0"></line>
                                        <line id="SvgjsLine1595" x1="0" y1="1" x2="0" y2="184.112" stroke="transparent" stroke-dasharray="0"></line>
                                    </g>
                                    <g id="SvgjsG1512" class="apexcharts-bar-series apexcharts-plot-series">
                                        <g id="SvgjsG1513" class="apexcharts-series Actual" rel="1" data:realIndex="0">
                                            <path id="apexcharts-bar-area-0" d="M27.072916666666668 184.112L27.072916666666668 124.2756L38.609375 124.2756L38.609375 184.112L26.072916666666668 184.112C26.072916666666668 184.112 26.072916666666668 184.112 26.072916666666668 184.112C26.072916666666668 184.112 26.072916666666668 184.112 26.072916666666668 184.112C26.072916666666668 184.112 26.072916666666668 184.112 26.072916666666668 184.112C26.072916666666668 184.112 26.072916666666668 184.112 26.072916666666668 184.112C26.072916666666668 184.112 26.072916666666668 184.112 26.072916666666668 184.112 " fill="rgba(20,65,134,0.75)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectMaskem22viknf)" pathTo="M 27.072916666666668 184.112L 27.072916666666668 124.2756L 38.609375 124.2756L 38.609375 184.112L 26.072916666666668 184.112" pathFrom="M 27.072916666666668 184.112L 27.072916666666668 124.2756L 38.609375 124.2756L 38.609375 184.112L 26.072916666666668 184.112L 27.072916666666668 184.112L 38.609375 184.112L 38.609375 184.112L 38.609375 184.112L 26.072916666666668 184.112" cy="124.2756" cx="93.75520833333334" j="0" val="65" barWidth="13.536458333333336"></path>
                                            <path id="apexcharts-bar-area-0" d="M94.75520833333334 184.112L94.75520833333334 129.79896L106.29166666666669 129.79896L106.29166666666669 184.112L93.75520833333334 184.112C93.75520833333334 184.112 93.75520833333334 184.112 93.75520833333334 184.112C93.75520833333334 184.112 93.75520833333334 184.112 93.75520833333334 184.112C93.75520833333334 184.112 93.75520833333334 184.112 93.75520833333334 184.112C93.75520833333334 184.112 93.75520833333334 184.112 93.75520833333334 184.112C93.75520833333334 184.112 93.75520833333334 184.112 93.75520833333334 184.112 " fill="rgba(20,65,134,0.75)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectMaskem22viknf)" pathTo="M 94.75520833333334 184.112L 94.75520833333334 129.79896L 106.29166666666669 129.79896L 106.29166666666669 184.112L 93.75520833333334 184.112" pathFrom="M 94.75520833333334 184.112L 94.75520833333334 129.79896L 106.29166666666669 129.79896L 106.29166666666669 184.112L 93.75520833333334 184.112L 94.75520833333334 184.112L 106.29166666666669 184.112L 106.29166666666669 184.112L 106.29166666666669 184.112L 93.75520833333334 184.112" cy="129.79896" cx="161.4375" j="1" val="59" barWidth="13.536458333333336"></path>
                                            <path id="apexcharts-bar-area-0" d="M162.4375 184.112L162.4375 110.46719999999999L173.97395833333334 110.46719999999999L173.97395833333334 184.112L161.4375 184.112C161.4375 184.112 161.4375 184.112 161.4375 184.112C161.4375 184.112 161.4375 184.112 161.4375 184.112C161.4375 184.112 161.4375 184.112 161.4375 184.112C161.4375 184.112 161.4375 184.112 161.4375 184.112C161.4375 184.112 161.4375 184.112 161.4375 184.112 " fill="rgba(20,65,134,0.75)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectMaskem22viknf)" pathTo="M 162.4375 184.112L 162.4375 110.46719999999999L 173.97395833333334 110.46719999999999L 173.97395833333334 184.112L 161.4375 184.112" pathFrom="M 162.4375 184.112L 162.4375 110.46719999999999L 173.97395833333334 110.46719999999999L 173.97395833333334 184.112L 161.4375 184.112L 162.4375 184.112L 173.97395833333334 184.112L 173.97395833333334 184.112L 173.97395833333334 184.112L 161.4375 184.112" cy="110.46719999999999" cx="229.11979166666669" j="2" val="80" barWidth="13.536458333333336"></path>
                                            <path id="apexcharts-bar-area-0" d="M230.11979166666669 184.112L230.11979166666669 109.54664L241.65625000000003 109.54664L241.65625000000003 184.112L229.11979166666669 184.112C229.11979166666669 184.112 229.11979166666669 184.112 229.11979166666669 184.112C229.11979166666669 184.112 229.11979166666669 184.112 229.11979166666669 184.112C229.11979166666669 184.112 229.11979166666669 184.112 229.11979166666669 184.112C229.11979166666669 184.112 229.11979166666669 184.112 229.11979166666669 184.112C229.11979166666669 184.112 229.11979166666669 184.112 229.11979166666669 184.112 " fill="rgba(20,65,134,0.75)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectMaskem22viknf)" pathTo="M 230.11979166666669 184.112L 230.11979166666669 109.54664L 241.65625000000003 109.54664L 241.65625000000003 184.112L 229.11979166666669 184.112" pathFrom="M 230.11979166666669 184.112L 230.11979166666669 109.54664L 241.65625000000003 109.54664L 241.65625000000003 184.112L 229.11979166666669 184.112L 230.11979166666669 184.112L 241.65625000000003 184.112L 241.65625000000003 184.112L 241.65625000000003 184.112L 229.11979166666669 184.112" cy="109.54664" cx="296.80208333333337" j="3" val="81" barWidth="13.536458333333336"></path>
                                            <path id="apexcharts-bar-area-0" d="M297.80208333333337 184.112L297.80208333333337 132.56063999999998L309.3385416666667 132.56063999999998L309.3385416666667 184.112L296.80208333333337 184.112C296.80208333333337 184.112 296.80208333333337 184.112 296.80208333333337 184.112C296.80208333333337 184.112 296.80208333333337 184.112 296.80208333333337 184.112C296.80208333333337 184.112 296.80208333333337 184.112 296.80208333333337 184.112C296.80208333333337 184.112 296.80208333333337 184.112 296.80208333333337 184.112C296.80208333333337 184.112 296.80208333333337 184.112 296.80208333333337 184.112 " fill="rgba(20,65,134,0.75)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectMaskem22viknf)" pathTo="M 297.80208333333337 184.112L 297.80208333333337 132.56063999999998L 309.3385416666667 132.56063999999998L 309.3385416666667 184.112L 296.80208333333337 184.112" pathFrom="M 297.80208333333337 184.112L 297.80208333333337 132.56063999999998L 309.3385416666667 132.56063999999998L 309.3385416666667 184.112L 296.80208333333337 184.112L 297.80208333333337 184.112L 309.3385416666667 184.112L 309.3385416666667 184.112L 309.3385416666667 184.112L 296.80208333333337 184.112" cy="132.56063999999998" cx="364.48437500000006" j="4" val="56" barWidth="13.536458333333336"></path>
                                            <path id="apexcharts-bar-area-0" d="M365.48437500000006 184.112L365.48437500000006 102.18216L377.02083333333337 102.18216L377.02083333333337 184.112L364.48437500000006 184.112C364.48437500000006 184.112 364.48437500000006 184.112 364.48437500000006 184.112C364.48437500000006 184.112 364.48437500000006 184.112 364.48437500000006 184.112C364.48437500000006 184.112 364.48437500000006 184.112 364.48437500000006 184.112C364.48437500000006 184.112 364.48437500000006 184.112 364.48437500000006 184.112C364.48437500000006 184.112 364.48437500000006 184.112 364.48437500000006 184.112 " fill="rgba(20,65,134,0.75)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectMaskem22viknf)" pathTo="M 365.48437500000006 184.112L 365.48437500000006 102.18216L 377.02083333333337 102.18216L 377.02083333333337 184.112L 364.48437500000006 184.112" pathFrom="M 365.48437500000006 184.112L 365.48437500000006 102.18216L 377.02083333333337 102.18216L 377.02083333333337 184.112L 364.48437500000006 184.112L 365.48437500000006 184.112L 377.02083333333337 184.112L 377.02083333333337 184.112L 377.02083333333337 184.112L 364.48437500000006 184.112" cy="102.18216" cx="432.16666666666674" j="5" val="89" barWidth="13.536458333333336"></path>
                                            <path id="apexcharts-bar-area-0" d="M433.16666666666674 184.112L433.16666666666674 147.2896L444.70312500000006 147.2896L444.70312500000006 184.112L432.16666666666674 184.112C432.16666666666674 184.112 432.16666666666674 184.112 432.16666666666674 184.112C432.16666666666674 184.112 432.16666666666674 184.112 432.16666666666674 184.112C432.16666666666674 184.112 432.16666666666674 184.112 432.16666666666674 184.112C432.16666666666674 184.112 432.16666666666674 184.112 432.16666666666674 184.112C432.16666666666674 184.112 432.16666666666674 184.112 432.16666666666674 184.112 " fill="rgba(20,65,134,0.75)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectMaskem22viknf)" pathTo="M 433.16666666666674 184.112L 433.16666666666674 147.2896L 444.70312500000006 147.2896L 444.70312500000006 184.112L 432.16666666666674 184.112" pathFrom="M 433.16666666666674 184.112L 433.16666666666674 147.2896L 444.70312500000006 147.2896L 444.70312500000006 184.112L 432.16666666666674 184.112L 433.16666666666674 184.112L 444.70312500000006 184.112L 444.70312500000006 184.112L 444.70312500000006 184.112L 432.16666666666674 184.112" cy="147.2896" cx="499.8489583333334" j="6" val="40" barWidth="13.536458333333336"></path>
                                            <path id="apexcharts-bar-area-0" d="M500.8489583333334 184.112L500.8489583333334 154.65408L512.3854166666667 154.65408L512.3854166666667 184.112L499.8489583333334 184.112C499.8489583333334 184.112 499.8489583333334 184.112 499.8489583333334 184.112C499.8489583333334 184.112 499.8489583333334 184.112 499.8489583333334 184.112C499.8489583333334 184.112 499.8489583333334 184.112 499.8489583333334 184.112C499.8489583333334 184.112 499.8489583333334 184.112 499.8489583333334 184.112C499.8489583333334 184.112 499.8489583333334 184.112 499.8489583333334 184.112 " fill="rgba(20,65,134,0.75)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectMaskem22viknf)" pathTo="M 500.8489583333334 184.112L 500.8489583333334 154.65408L 512.3854166666667 154.65408L 512.3854166666667 184.112L 499.8489583333334 184.112" pathFrom="M 500.8489583333334 184.112L 500.8489583333334 154.65408L 512.3854166666667 154.65408L 512.3854166666667 184.112L 499.8489583333334 184.112L 500.8489583333334 184.112L 512.3854166666667 184.112L 512.3854166666667 184.112L 512.3854166666667 184.112L 499.8489583333334 184.112" cy="154.65408" cx="567.5312500000001" j="7" val="32" barWidth="13.536458333333336"></path>
                                            <path id="apexcharts-bar-area-0" d="M568.5312500000001 184.112L568.5312500000001 124.2756L580.0677083333335 124.2756L580.0677083333335 184.112L567.5312500000001 184.112C567.5312500000001 184.112 567.5312500000001 184.112 567.5312500000001 184.112C567.5312500000001 184.112 567.5312500000001 184.112 567.5312500000001 184.112C567.5312500000001 184.112 567.5312500000001 184.112 567.5312500000001 184.112C567.5312500000001 184.112 567.5312500000001 184.112 567.5312500000001 184.112C567.5312500000001 184.112 567.5312500000001 184.112 567.5312500000001 184.112 " fill="rgba(20,65,134,0.75)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectMaskem22viknf)" pathTo="M 568.5312500000001 184.112L 568.5312500000001 124.2756L 580.0677083333335 124.2756L 580.0677083333335 184.112L 567.5312500000001 184.112" pathFrom="M 568.5312500000001 184.112L 568.5312500000001 124.2756L 580.0677083333335 124.2756L 580.0677083333335 184.112L 567.5312500000001 184.112L 568.5312500000001 184.112L 580.0677083333335 184.112L 580.0677083333335 184.112L 580.0677083333335 184.112L 567.5312500000001 184.112" cy="124.2756" cx="635.2135416666667" j="8" val="65" barWidth="13.536458333333336"></path>
                                            <path id="apexcharts-bar-area-0" d="M636.2135416666667 184.112L636.2135416666667 129.79896L647.7500000000001 129.79896L647.7500000000001 184.112L635.2135416666667 184.112C635.2135416666667 184.112 635.2135416666667 184.112 635.2135416666667 184.112C635.2135416666667 184.112 635.2135416666667 184.112 635.2135416666667 184.112C635.2135416666667 184.112 635.2135416666667 184.112 635.2135416666667 184.112C635.2135416666667 184.112 635.2135416666667 184.112 635.2135416666667 184.112C635.2135416666667 184.112 635.2135416666667 184.112 635.2135416666667 184.112 " fill="rgba(20,65,134,0.75)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectMaskem22viknf)" pathTo="M 636.2135416666667 184.112L 636.2135416666667 129.79896L 647.7500000000001 129.79896L 647.7500000000001 184.112L 635.2135416666667 184.112" pathFrom="M 636.2135416666667 184.112L 636.2135416666667 129.79896L 647.7500000000001 129.79896L 647.7500000000001 184.112L 635.2135416666667 184.112L 636.2135416666667 184.112L 647.7500000000001 184.112L 647.7500000000001 184.112L 647.7500000000001 184.112L 635.2135416666667 184.112" cy="129.79896" cx="702.8958333333334" j="9" val="59" barWidth="13.536458333333336"></path>
                                            <path id="apexcharts-bar-area-0" d="M703.8958333333334 184.112L703.8958333333334 110.46719999999999L715.4322916666667 110.46719999999999L715.4322916666667 184.112L702.8958333333334 184.112C702.8958333333334 184.112 702.8958333333334 184.112 702.8958333333334 184.112C702.8958333333334 184.112 702.8958333333334 184.112 702.8958333333334 184.112C702.8958333333334 184.112 702.8958333333334 184.112 702.8958333333334 184.112C702.8958333333334 184.112 702.8958333333334 184.112 702.8958333333334 184.112C702.8958333333334 184.112 702.8958333333334 184.112 702.8958333333334 184.112 " fill="rgba(20,65,134,0.75)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectMaskem22viknf)" pathTo="M 703.8958333333334 184.112L 703.8958333333334 110.46719999999999L 715.4322916666667 110.46719999999999L 715.4322916666667 184.112L 702.8958333333334 184.112" pathFrom="M 703.8958333333334 184.112L 703.8958333333334 110.46719999999999L 715.4322916666667 110.46719999999999L 715.4322916666667 184.112L 702.8958333333334 184.112L 703.8958333333334 184.112L 715.4322916666667 184.112L 715.4322916666667 184.112L 715.4322916666667 184.112L 702.8958333333334 184.112" cy="110.46719999999999" cx="770.578125" j="10" val="80" barWidth="13.536458333333336"></path>
                                            <path id="apexcharts-bar-area-0" d="M771.578125 184.112L771.578125 109.54664L783.1145833333334 109.54664L783.1145833333334 184.112L770.578125 184.112C770.578125 184.112 770.578125 184.112 770.578125 184.112C770.578125 184.112 770.578125 184.112 770.578125 184.112C770.578125 184.112 770.578125 184.112 770.578125 184.112C770.578125 184.112 770.578125 184.112 770.578125 184.112C770.578125 184.112 770.578125 184.112 770.578125 184.112 " fill="rgba(20,65,134,0.75)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectMaskem22viknf)" pathTo="M 771.578125 184.112L 771.578125 109.54664L 783.1145833333334 109.54664L 783.1145833333334 184.112L 770.578125 184.112" pathFrom="M 771.578125 184.112L 771.578125 109.54664L 783.1145833333334 109.54664L 783.1145833333334 184.112L 770.578125 184.112L 771.578125 184.112L 783.1145833333334 184.112L 783.1145833333334 184.112L 783.1145833333334 184.112L 770.578125 184.112" cy="109.54664" cx="838.2604166666666" j="11" val="81" barWidth="13.536458333333336"></path>
                                            <g id="SvgjsG1514" class="apexcharts-datalabels"></g>
                                        </g>
                                        <g id="SvgjsG1527" class="apexcharts-series Projection" rel="2" data:realIndex="1">
                                            <path id="apexcharts-bar-area-1" d="M27.072916666666668 124.2756L27.072916666666668 42.34576L38.609375 42.34576L38.609375 124.2756L26.072916666666668 124.2756C26.072916666666668 124.2756 26.072916666666668 124.2756 26.072916666666668 124.2756C26.072916666666668 124.2756 26.072916666666668 124.2756 26.072916666666668 124.2756C26.072916666666668 124.2756 26.072916666666668 124.2756 26.072916666666668 124.2756C26.072916666666668 124.2756 26.072916666666668 124.2756 26.072916666666668 124.2756C26.072916666666668 124.2756 26.072916666666668 124.2756 26.072916666666668 124.2756 " fill="rgba(227,234,239,1)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-bar-area" index="1" clip-path="url(#gridRectMaskem22viknf)" pathTo="M 27.072916666666668 124.2756L 27.072916666666668 42.34576L 38.609375 42.34576L 38.609375 124.2756L 26.072916666666668 124.2756" pathFrom="M 27.072916666666668 124.2756L 27.072916666666668 42.34576L 38.609375 42.34576L 38.609375 124.2756L 26.072916666666668 124.2756L 27.072916666666668 124.2756L 38.609375 124.2756L 38.609375 124.2756L 38.609375 124.2756L 26.072916666666668 124.2756" cy="42.34576" cx="93.75520833333334" j="0" val="89" barWidth="13.536458333333336"></path>
                                            <path id="apexcharts-bar-area-1" d="M94.75520833333334 129.79896L94.75520833333334 92.97655999999999L106.29166666666669 92.97655999999999L106.29166666666669 129.79896L93.75520833333334 129.79896C93.75520833333334 129.79896 93.75520833333334 129.79896 93.75520833333334 129.79896C93.75520833333334 129.79896 93.75520833333334 129.79896 93.75520833333334 129.79896C93.75520833333334 129.79896 93.75520833333334 129.79896 93.75520833333334 129.79896C93.75520833333334 129.79896 93.75520833333334 129.79896 93.75520833333334 129.79896C93.75520833333334 129.79896 93.75520833333334 129.79896 93.75520833333334 129.79896 " fill="rgba(227,234,239,1)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-bar-area" index="1" clip-path="url(#gridRectMaskem22viknf)" pathTo="M 94.75520833333334 129.79896L 94.75520833333334 92.97655999999999L 106.29166666666669 92.97655999999999L 106.29166666666669 129.79896L 93.75520833333334 129.79896" pathFrom="M 94.75520833333334 129.79896L 94.75520833333334 92.97655999999999L 106.29166666666669 92.97655999999999L 106.29166666666669 129.79896L 93.75520833333334 129.79896L 94.75520833333334 129.79896L 106.29166666666669 129.79896L 106.29166666666669 129.79896L 106.29166666666669 129.79896L 93.75520833333334 129.79896" cy="92.97655999999999" cx="161.4375" j="1" val="40" barWidth="13.536458333333336"></path>
                                            <path id="apexcharts-bar-area-1" d="M162.4375 110.46719999999999L162.4375 81.00927999999999L173.97395833333334 81.00927999999999L173.97395833333334 110.46719999999999L161.4375 110.46719999999999C161.4375 110.46719999999999 161.4375 110.46719999999999 161.4375 110.46719999999999C161.4375 110.46719999999999 161.4375 110.46719999999999 161.4375 110.46719999999999C161.4375 110.46719999999999 161.4375 110.46719999999999 161.4375 110.46719999999999C161.4375 110.46719999999999 161.4375 110.46719999999999 161.4375 110.46719999999999C161.4375 110.46719999999999 161.4375 110.46719999999999 161.4375 110.46719999999999 " fill="rgba(227,234,239,1)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-bar-area" index="1" clip-path="url(#gridRectMaskem22viknf)" pathTo="M 162.4375 110.46719999999999L 162.4375 81.00927999999999L 173.97395833333334 81.00927999999999L 173.97395833333334 110.46719999999999L 161.4375 110.46719999999999" pathFrom="M 162.4375 110.46719999999999L 162.4375 81.00927999999999L 173.97395833333334 81.00927999999999L 173.97395833333334 110.46719999999999L 161.4375 110.46719999999999L 162.4375 110.46719999999999L 173.97395833333334 110.46719999999999L 173.97395833333334 110.46719999999999L 173.97395833333334 110.46719999999999L 161.4375 110.46719999999999" cy="81.00927999999999" cx="229.11979166666669" j="2" val="32" barWidth="13.536458333333336"></path>
                                            <path id="apexcharts-bar-area-1" d="M230.11979166666669 109.54664L230.11979166666669 49.71024L241.65625000000003 49.71024L241.65625000000003 109.54664L229.11979166666669 109.54664C229.11979166666669 109.54664 229.11979166666669 109.54664 229.11979166666669 109.54664C229.11979166666669 109.54664 229.11979166666669 109.54664 229.11979166666669 109.54664C229.11979166666669 109.54664 229.11979166666669 109.54664 229.11979166666669 109.54664C229.11979166666669 109.54664 229.11979166666669 109.54664 229.11979166666669 109.54664C229.11979166666669 109.54664 229.11979166666669 109.54664 229.11979166666669 109.54664 " fill="rgba(227,234,239,1)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-bar-area" index="1" clip-path="url(#gridRectMaskem22viknf)" pathTo="M 230.11979166666669 109.54664L 230.11979166666669 49.71024L 241.65625000000003 49.71024L 241.65625000000003 109.54664L 229.11979166666669 109.54664" pathFrom="M 230.11979166666669 109.54664L 230.11979166666669 49.71024L 241.65625000000003 49.71024L 241.65625000000003 109.54664L 229.11979166666669 109.54664L 230.11979166666669 109.54664L 241.65625000000003 109.54664L 241.65625000000003 109.54664L 241.65625000000003 109.54664L 229.11979166666669 109.54664" cy="49.71024" cx="296.80208333333337" j="3" val="65" barWidth="13.536458333333336"></path>
                                            <path id="apexcharts-bar-area-1" d="M297.80208333333337 132.56063999999998L297.80208333333337 78.24759999999998L309.3385416666667 78.24759999999998L309.3385416666667 132.56063999999998L296.80208333333337 132.56063999999998C296.80208333333337 132.56063999999998 296.80208333333337 132.56063999999998 296.80208333333337 132.56063999999998C296.80208333333337 132.56063999999998 296.80208333333337 132.56063999999998 296.80208333333337 132.56063999999998C296.80208333333337 132.56063999999998 296.80208333333337 132.56063999999998 296.80208333333337 132.56063999999998C296.80208333333337 132.56063999999998 296.80208333333337 132.56063999999998 296.80208333333337 132.56063999999998C296.80208333333337 132.56063999999998 296.80208333333337 132.56063999999998 296.80208333333337 132.56063999999998 " fill="rgba(227,234,239,1)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-bar-area" index="1" clip-path="url(#gridRectMaskem22viknf)" pathTo="M 297.80208333333337 132.56063999999998L 297.80208333333337 78.24759999999998L 309.3385416666667 78.24759999999998L 309.3385416666667 132.56063999999998L 296.80208333333337 132.56063999999998" pathFrom="M 297.80208333333337 132.56063999999998L 297.80208333333337 78.24759999999998L 309.3385416666667 78.24759999999998L 309.3385416666667 132.56063999999998L 296.80208333333337 132.56063999999998L 297.80208333333337 132.56063999999998L 309.3385416666667 132.56063999999998L 309.3385416666667 132.56063999999998L 309.3385416666667 132.56063999999998L 296.80208333333337 132.56063999999998" cy="78.24759999999998" cx="364.48437500000006" j="4" val="59" barWidth="13.536458333333336"></path>
                                            <path id="apexcharts-bar-area-1" d="M365.48437500000006 102.18216L365.48437500000006 28.537359999999993L377.02083333333337 28.537359999999993L377.02083333333337 102.18216L364.48437500000006 102.18216C364.48437500000006 102.18216 364.48437500000006 102.18216 364.48437500000006 102.18216C364.48437500000006 102.18216 364.48437500000006 102.18216 364.48437500000006 102.18216C364.48437500000006 102.18216 364.48437500000006 102.18216 364.48437500000006 102.18216C364.48437500000006 102.18216 364.48437500000006 102.18216 364.48437500000006 102.18216C364.48437500000006 102.18216 364.48437500000006 102.18216 364.48437500000006 102.18216 " fill="rgba(227,234,239,1)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-bar-area" index="1" clip-path="url(#gridRectMaskem22viknf)" pathTo="M 365.48437500000006 102.18216L 365.48437500000006 28.537359999999993L 377.02083333333337 28.537359999999993L 377.02083333333337 102.18216L 364.48437500000006 102.18216" pathFrom="M 365.48437500000006 102.18216L 365.48437500000006 28.537359999999993L 377.02083333333337 28.537359999999993L 377.02083333333337 102.18216L 364.48437500000006 102.18216L 365.48437500000006 102.18216L 377.02083333333337 102.18216L 377.02083333333337 102.18216L 377.02083333333337 102.18216L 364.48437500000006 102.18216" cy="28.537359999999993" cx="432.16666666666674" j="5" val="80" barWidth="13.536458333333336"></path>
                                            <path id="apexcharts-bar-area-1" d="M433.16666666666674 147.2896L433.16666666666674 72.72424000000001L444.70312500000006 72.72424000000001L444.70312500000006 147.2896L432.16666666666674 147.2896C432.16666666666674 147.2896 432.16666666666674 147.2896 432.16666666666674 147.2896C432.16666666666674 147.2896 432.16666666666674 147.2896 432.16666666666674 147.2896C432.16666666666674 147.2896 432.16666666666674 147.2896 432.16666666666674 147.2896C432.16666666666674 147.2896 432.16666666666674 147.2896 432.16666666666674 147.2896C432.16666666666674 147.2896 432.16666666666674 147.2896 432.16666666666674 147.2896 " fill="rgba(227,234,239,1)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-bar-area" index="1" clip-path="url(#gridRectMaskem22viknf)" pathTo="M 433.16666666666674 147.2896L 433.16666666666674 72.72424000000001L 444.70312500000006 72.72424000000001L 444.70312500000006 147.2896L 432.16666666666674 147.2896" pathFrom="M 433.16666666666674 147.2896L 433.16666666666674 72.72424000000001L 444.70312500000006 72.72424000000001L 444.70312500000006 147.2896L 432.16666666666674 147.2896L 433.16666666666674 147.2896L 444.70312500000006 147.2896L 444.70312500000006 147.2896L 444.70312500000006 147.2896L 432.16666666666674 147.2896" cy="72.72424000000001" cx="499.8489583333334" j="6" val="81" barWidth="13.536458333333336"></path>
                                            <path id="apexcharts-bar-area-1" d="M500.8489583333334 154.65408L500.8489583333334 103.10271999999999L512.3854166666667 103.10271999999999L512.3854166666667 154.65408L499.8489583333334 154.65408C499.8489583333334 154.65408 499.8489583333334 154.65408 499.8489583333334 154.65408C499.8489583333334 154.65408 499.8489583333334 154.65408 499.8489583333334 154.65408C499.8489583333334 154.65408 499.8489583333334 154.65408 499.8489583333334 154.65408C499.8489583333334 154.65408 499.8489583333334 154.65408 499.8489583333334 154.65408C499.8489583333334 154.65408 499.8489583333334 154.65408 499.8489583333334 154.65408 " fill="rgba(227,234,239,1)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-bar-area" index="1" clip-path="url(#gridRectMaskem22viknf)" pathTo="M 500.8489583333334 154.65408L 500.8489583333334 103.10271999999999L 512.3854166666667 103.10271999999999L 512.3854166666667 154.65408L 499.8489583333334 154.65408" pathFrom="M 500.8489583333334 154.65408L 500.8489583333334 103.10271999999999L 512.3854166666667 103.10271999999999L 512.3854166666667 154.65408L 499.8489583333334 154.65408L 500.8489583333334 154.65408L 512.3854166666667 154.65408L 512.3854166666667 154.65408L 512.3854166666667 154.65408L 499.8489583333334 154.65408" cy="103.10271999999999" cx="567.5312500000001" j="7" val="56" barWidth="13.536458333333336"></path>
                                            <path id="apexcharts-bar-area-1" d="M568.5312500000001 124.2756L568.5312500000001 42.34576L580.0677083333335 42.34576L580.0677083333335 124.2756L567.5312500000001 124.2756C567.5312500000001 124.2756 567.5312500000001 124.2756 567.5312500000001 124.2756C567.5312500000001 124.2756 567.5312500000001 124.2756 567.5312500000001 124.2756C567.5312500000001 124.2756 567.5312500000001 124.2756 567.5312500000001 124.2756C567.5312500000001 124.2756 567.5312500000001 124.2756 567.5312500000001 124.2756C567.5312500000001 124.2756 567.5312500000001 124.2756 567.5312500000001 124.2756 " fill="rgba(227,234,239,1)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-bar-area" index="1" clip-path="url(#gridRectMaskem22viknf)" pathTo="M 568.5312500000001 124.2756L 568.5312500000001 42.34576L 580.0677083333335 42.34576L 580.0677083333335 124.2756L 567.5312500000001 124.2756" pathFrom="M 568.5312500000001 124.2756L 568.5312500000001 42.34576L 580.0677083333335 42.34576L 580.0677083333335 124.2756L 567.5312500000001 124.2756L 568.5312500000001 124.2756L 580.0677083333335 124.2756L 580.0677083333335 124.2756L 580.0677083333335 124.2756L 567.5312500000001 124.2756" cy="42.34576" cx="635.2135416666667" j="8" val="89" barWidth="13.536458333333336"></path>
                                            <path id="apexcharts-bar-area-1" d="M636.2135416666667 129.79896L636.2135416666667 92.97655999999999L647.7500000000001 92.97655999999999L647.7500000000001 129.79896L635.2135416666667 129.79896C635.2135416666667 129.79896 635.2135416666667 129.79896 635.2135416666667 129.79896C635.2135416666667 129.79896 635.2135416666667 129.79896 635.2135416666667 129.79896C635.2135416666667 129.79896 635.2135416666667 129.79896 635.2135416666667 129.79896C635.2135416666667 129.79896 635.2135416666667 129.79896 635.2135416666667 129.79896C635.2135416666667 129.79896 635.2135416666667 129.79896 635.2135416666667 129.79896 " fill="rgba(227,234,239,1)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-bar-area" index="1" clip-path="url(#gridRectMaskem22viknf)" pathTo="M 636.2135416666667 129.79896L 636.2135416666667 92.97655999999999L 647.7500000000001 92.97655999999999L 647.7500000000001 129.79896L 635.2135416666667 129.79896" pathFrom="M 636.2135416666667 129.79896L 636.2135416666667 92.97655999999999L 647.7500000000001 92.97655999999999L 647.7500000000001 129.79896L 635.2135416666667 129.79896L 636.2135416666667 129.79896L 647.7500000000001 129.79896L 647.7500000000001 129.79896L 647.7500000000001 129.79896L 635.2135416666667 129.79896" cy="92.97655999999999" cx="702.8958333333334" j="9" val="40" barWidth="13.536458333333336"></path>
                                            <path id="apexcharts-bar-area-1" d="M703.8958333333334 110.46719999999999L703.8958333333334 50.630799999999994L715.4322916666667 50.630799999999994L715.4322916666667 110.46719999999999L702.8958333333334 110.46719999999999C702.8958333333334 110.46719999999999 702.8958333333334 110.46719999999999 702.8958333333334 110.46719999999999C702.8958333333334 110.46719999999999 702.8958333333334 110.46719999999999 702.8958333333334 110.46719999999999C702.8958333333334 110.46719999999999 702.8958333333334 110.46719999999999 702.8958333333334 110.46719999999999C702.8958333333334 110.46719999999999 702.8958333333334 110.46719999999999 702.8958333333334 110.46719999999999C702.8958333333334 110.46719999999999 702.8958333333334 110.46719999999999 702.8958333333334 110.46719999999999 " fill="rgba(227,234,239,1)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-bar-area" index="1" clip-path="url(#gridRectMaskem22viknf)" pathTo="M 703.8958333333334 110.46719999999999L 703.8958333333334 50.630799999999994L 715.4322916666667 50.630799999999994L 715.4322916666667 110.46719999999999L 702.8958333333334 110.46719999999999" pathFrom="M 703.8958333333334 110.46719999999999L 703.8958333333334 50.630799999999994L 715.4322916666667 50.630799999999994L 715.4322916666667 110.46719999999999L 702.8958333333334 110.46719999999999L 703.8958333333334 110.46719999999999L 715.4322916666667 110.46719999999999L 715.4322916666667 110.46719999999999L 715.4322916666667 110.46719999999999L 702.8958333333334 110.46719999999999" cy="50.630799999999994" cx="770.578125" j="10" val="65" barWidth="13.536458333333336"></path>
                                            <path id="apexcharts-bar-area-1" d="M771.578125 109.54664L771.578125 55.233599999999996L783.1145833333334 55.233599999999996L783.1145833333334 109.54664L770.578125 109.54664C770.578125 109.54664 770.578125 109.54664 770.578125 109.54664C770.578125 109.54664 770.578125 109.54664 770.578125 109.54664C770.578125 109.54664 770.578125 109.54664 770.578125 109.54664C770.578125 109.54664 770.578125 109.54664 770.578125 109.54664C770.578125 109.54664 770.578125 109.54664 770.578125 109.54664 " fill="rgba(227,234,239,1)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-bar-area" index="1" clip-path="url(#gridRectMaskem22viknf)" pathTo="M 771.578125 109.54664L 771.578125 55.233599999999996L 783.1145833333334 55.233599999999996L 783.1145833333334 109.54664L 770.578125 109.54664" pathFrom="M 771.578125 109.54664L 771.578125 55.233599999999996L 783.1145833333334 55.233599999999996L 783.1145833333334 109.54664L 770.578125 109.54664L 771.578125 109.54664L 783.1145833333334 109.54664L 783.1145833333334 109.54664L 783.1145833333334 109.54664L 770.578125 109.54664" cy="55.233599999999996" cx="838.2604166666666" j="11" val="59" barWidth="13.536458333333336"></path>
                                            <g id="SvgjsG1528" class="apexcharts-datalabels"></g>
                                        </g>
                                    </g>
                                    <line id="SvgjsLine1597" x1="0" y1="0" x2="812.1875" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" class="apexcharts-ycrosshairs"></line>
                                    <line id="SvgjsLine1598" x1="0" y1="0" x2="812.1875" y2="0" stroke-dasharray="0" stroke-width="0" class="apexcharts-ycrosshairs-hidden"></line>
                                    <g id="SvgjsG1599" class="apexcharts-yaxis-annotations"></g>
                                    <g id="SvgjsG1600" class="apexcharts-xaxis-annotations"></g>
                                    <g id="SvgjsG1601" class="apexcharts-point-annotations"></g>
                                </g>
                                <g id="SvgjsG1567" class="apexcharts-yaxis" rel="0" transform="translate(29.8125, 0)">
                                    <g id="SvgjsG1568" class="apexcharts-yaxis-texts-g">
                                        <text id="SvgjsText1569" font-family="Helvetica, Arial, sans-serif" x="20" y="31.5" text-anchor="end" dominant-baseline="auto" font-size="11px" fill="#373d3f" class="apexcharts-yaxis-label " style="font-family: Helvetica, Arial, sans-serif;">5000C</text>
                                        <text id="SvgjsText1570" font-family="Helvetica, Arial, sans-serif" x="20" y="68.42240000000001" text-anchor="end" dominant-baseline="auto" font-size="11px" fill="#373d3f" class="apexcharts-yaxis-label " style="font-family: Helvetica, Arial, sans-serif;">4000C</text>
                                        <text id="SvgjsText1571" font-family="Helvetica, Arial, sans-serif" x="20" y="105.34480000000002" text-anchor="end" dominant-baseline="auto" font-size="11px" fill="#373d3f" class="apexcharts-yaxis-label " style="font-family: Helvetica, Arial, sans-serif;">3000C</text>
                                        <text id="SvgjsText1572" font-family="Helvetica, Arial, sans-serif" x="20" y="142.26720000000003" text-anchor="end" dominant-baseline="auto" font-size="11px" fill="#373d3f" class="apexcharts-yaxis-label " style="font-family: Helvetica, Arial, sans-serif;">2000C</text>
                                        <text id="SvgjsText1573" font-family="Helvetica, Arial, sans-serif" x="20" y="179.18960000000004" text-anchor="end" dominant-baseline="auto" font-size="11px" fill="#373d3f" class="apexcharts-yaxis-label " style="font-family: Helvetica, Arial, sans-serif;">1000C</text>
                                        <text id="SvgjsText1574" font-family="Helvetica, Arial, sans-serif" x="20" y="216.11200000000005" text-anchor="end" dominant-baseline="auto" font-size="11px" fill="#373d3f" class="apexcharts-yaxis-label " style="font-family: Helvetica, Arial, sans-serif;">0C</text>
                                    </g>
                                </g>
                            </svg>
                            <div class="apexcharts-legend"></div>
                            <div class="apexcharts-tooltip light">
                                <div class="apexcharts-tooltip-title" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"></div>
                                <div class="apexcharts-tooltip-series-group">
                                    <span class="apexcharts-tooltip-marker" style="background-color: rgb(20, 124, 245);"></span>
                                    <div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;">
                                        <div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-label"></span><span class="apexcharts-tooltip-text-value"></span></div>
                                        <div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div>
                                    </div>
                                </div>
                                <div class="apexcharts-tooltip-series-group">
                                    <span class="apexcharts-tooltip-marker" style="background-color: rgb(227, 234, 239);"></span>
                                    <div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;">
                                        <div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-label"></span><span class="apexcharts-tooltip-text-value"></span></div>
                                        <div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="resize-triggers">
                        <div class="expand-trigger">
                            <div style="width: 912px; height: 348px;"></div>
                        </div>
                        <div class="contract-trigger"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-xl-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title mb-2">Atividade Recente</h4>
                    <div class="scrollbar-container ps ps--active-y" style="max-height: 430px; width: 100%;">
                        <div class="timeline-alt pb-0" tag="div">
                            <div class="timeline-item" tag="div">
                                <i class="fa fa-tasks bg-info-lighten text-info timeline-icon"></i>
                                <div class="timeline-item-info">
                                    <a href="#" onclick="m.g.alert('Atenção', 'Funcionalidade ainda não disponível.');" class="text-info font-weight-bold mb-1 d-block">Ordem de manutenção</a><small>Injetora Magna produziu 150 Ciclos</small>
                                    <p class="mb-0 pb-2"><small class="text-muted">15 minutos atrás</small></p>
                                </div>
                            </div>
                            <div class="timeline-item" tag="div">
                                <i class="fa fa-danger bg-primary-lighten text-primary timeline-icon"></i>
                                <div class="timeline-item-info">
                                    <a href="#" onclick="m.g.alert('Atenção', 'Funcionalidade ainda não disponível.');" class="text-primary font-weight-bold mb-1 d-block">Alerta Extrusora Carnevalli 60mm</a><small>Temperatura acima de <span class="font-weight-bold">90 Cº</span></small>
                                    <p class="mb-0 pb-2"><small class="text-muted">1 hora atrás</small></p>
                                </div>
                            </div>
                            <div class="timeline-item" tag="div">
                                <i class="fa fa-tasks bg-info-lighten text-info timeline-icon"></i>
                                <div class="timeline-item-info">
                                    <a href="#" onclick="m.g.alert('Atenção', 'Funcionalidade ainda não disponível.');" class="text-info font-weight-bold mb-1 d-block">Ordem de manutenção</a><small>Injetora EKII 4000T produziu 200 Ciclos</small>
                                    <p class="mb-0 pb-2"><small class="text-muted">2 hours ago</small></p>
                                </div>
                            </div>
                            <div class="timeline-item" tag="div">
                                <i class="fa fa-tasks bg-info-lighten text-info timeline-icon"></i>
                                <div class="timeline-item-info">
                                    <a href="#" onclick="m.g.alert('Atenção', 'Funcionalidade ainda não disponível.');" class="text-info font-weight-bold mb-1 d-block">Ordem de manutenção</a><small>Injetora Magna produziu 150 Ciclos</small>
                                    <p class="mb-0 pb-2"><small class="text-muted">4 hours ago</small></p>
                                </div>
                            </div>
                            <div class="timeline-item" tag="div">
                                <i class="fa fa-danger bg-primary-lighten text-primary timeline-icon"></i>
                                <div class="timeline-item-info">
                                    <a href="#" onclick="m.g.alert('Atenção', 'Funcionalidade ainda não disponível.');" class="text-primary font-weight-bold mb-1 d-block">Alerta Extrusora Carnevalli 60mm</a><small>Pressão acima de <span class="font-weight-bold">20 bares</span> </small>
                                    <p class="mb-0 pb-2"><small class="text-muted">6 horas atrás</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                            <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body" style="height: 478px !important;">
                    <h4 class="header-title mb-2">Atividade por Máquinas</h4>
                    <div class="table-responsive">
                        <table class="mb-0 mt-2 table table-hover">
                            <tbody>
                                <tr>
                                    <td>
                                        <h5 class="font-14 mb-1 font-weight-normal">Injetora Magna</h5><span class="text-muted font-13">31 Julho 2019</span>
                                    </td>
                                    <td>
                                        <h5 class="font-14 mb-1 font-weight-normal">481</h5><span class="text-muted font-13">Ciclos</span>
                                    </td>
                                    <td>
                                        <h5 class="font-14 mb-1 font-weight-normal">82%</h5><span class="text-muted font-13">Eficiência</span>
                                    </td>
                                    <td>
                                        <h5 class="font-14 mb-1 font-weight-normal">51 ordens</h5><span class="text-muted font-13">Manutenção</span>
                                    </td>
                                    <td>
                                        <h5 class="font-14 mb-1 font-weight-normal">525 kWh</h5><span class="text-muted font-13">Consumo</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h5 class="font-14 mb-1 font-weight-normal">Extrusora Carnevalli 60mm</h5><span class="text-muted font-13">31 Julho 2019</span>
                                    </td>
                                    <td>
                                        <h5 class="font-14 mb-1 font-weight-normal">356</h5><span class="text-muted font-13">Ciclos</span>
                                    </td>
                                    <td>
                                        <h5 class="font-14 mb-1 font-weight-normal">78%</h5><span class="text-muted font-13">Eficiência</span>
                                    </td>
                                    <td>
                                        <h5 class="font-14 mb-1 font-weight-normal">73 ordens</h5><span class="text-muted font-13">Manutenção</span>
                                    </td>
                                    <td>
                                        <h5 class="font-14 mb-1 font-weight-normal">637 kWh</h5><span class="text-muted font-13">Consumo</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h5 class="font-14 mb-1 font-weight-normal">Injetora Phoenix</h5><span class="text-muted font-13">28 Julho 2019</span>
                                    </td>
                                    <td>
                                        <h5 class="font-14 mb-1 font-weight-normal">495</h5><span class="text-muted font-13">Ciclos</span>
                                    </td>
                                    <td>
                                        <h5 class="font-14 mb-1 font-weight-normal">64%</h5><span class="text-muted font-13">Eficiência</span>
                                    </td>
                                    <td>
                                        <h5 class="font-14 mb-1 font-weight-normal">44 ordens</h5><span class="text-muted font-13">Manutenção</span>
                                    </td>
                                    <td>
                                        <h5 class="font-14 mb-1 font-weight-normal">755 kWh</h5><span class="text-muted font-13">Consumo</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h5 class="font-14 mb-1 font-weight-normal">Injetora EKII 4000T</h5><span class="text-muted font-13">31 Julho 2019</span>
                                    </td>
                                    <td>
                                        <h5 class="font-14 mb-1 font-weight-normal">279</h5><span class="text-muted font-13">Ciclos</span>
                                    </td>
                                    <td>
                                        <h5 class="font-14 mb-1 font-weight-normal">88%</h5><span class="text-muted font-13">Eficiência</span>
                                    </td>
                                    <td>
                                        <h5 class="font-14 mb-1 font-weight-normal">84 ordens</h5><span class="text-muted font-13">Manutenção</span>
                                    </td>
                                    <td>
                                        <h5 class="font-14 mb-1 font-weight-normal">603 kWh</h5><span class="text-muted font-13">Consumo</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h5 class="font-14 mb-1 font-weight-normal">Tribloco Automática Carbo L 500</h5><span class="text-muted font-13">31 Julho 2019</span>
                                    </td>
                                    <td>
                                        <h5 class="font-14 mb-1 font-weight-normal">328</h5><span class="text-muted font-13">Ciclos</span>
                                    </td>
                                    <td>
                                        <h5 class="font-14 mb-1 font-weight-normal">91%</h5><span class="text-muted font-13">Eficiência</span>
                                    </td>
                                    <td>
                                        <h5 class="font-14 mb-1 font-weight-normal">60 ordens</h5><span class="text-muted font-13">Manutenção</span>
                                    </td>
                                    <td>
                                        <h5 class="font-14 mb-1 font-weight-normal">680 kWh</h5><span class="text-muted font-13">Consumo</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>